<b>Apigee Edge Administrative Changes</b><br/>
<font color='#7f7f7f'>Timebox:</font> {{timeRange}}<br/>
<font color='#7f7f7f'>Organization:</font> {{organization}}<br/>
<font color='#7f7f7f'>Summary:</font> {{summary}}<br/>
<font color='#7f7f7f'>Watcher:</font> {{watcherInfo}}<br/>
<font color='#7f7f7f'>Changes:</font> {{elaborations}}<br/>
